<div class="container mt-5">
    <div class="row ">
        <div class="col-sm-12 text-center">
            <h2>Last 30 Days Issue Book Records</h2>
        </div>
        <div class="col-sm-12">
            <a class="btn btn-info float-right" routerLink="../book-list">Book List</a>
        </div>
        <div class="col-sm-12">
            <table class="table table-striped mt-2">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Book Title</th>
                        <th>Issue Date</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr *ngFor="let bookList of getBookList; let i=index">
                        <td> {{i+1}} </td>
                        <td> {{bookList.name}} </td>
                        <td> {{bookList.issue_date | date}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="row" >
        
    </div>
    <div class="row">
        
    </div>     -->
</div>